$color-montana: #393b3c;
$color-white: #ffffff;
$color-perano: #B4A9FF;
$color-salmon: #ff7575;
$color-black: #000000;
$color-cornflowerBlue: #67a5eb;
$color-eastBay: #45526E;




$color-white-50: rgba(255, 255, 255, 0.5);
$color-black-40: rgba(0, 0, 0, 0.4);


//TYPOGRAPHY
$ff-play: "Play", sans-serif;
//VIEWPORT
$vp-tablet: 1023px;
$vp-mobile: 767px;
